/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ace1af;
  --ion-color-primary-rgb: 172, 225, 175;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #8ed692;
  --ion-color-primary-tint: #b8e5ba;
  --ion-color-primary-border: #8ed692;

  /** secondary **/
  --ion-color-secondary: #097969;
  --ion-color-secondary-rgb: 9, 121, 105;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #086c5e;
  --ion-color-secondary-tint: #0cae97;
  --ion-color-secondary-border: #086c5e;

  /** tertiary **/
  --ion-color-tertiary: #d9d9d9;
  --ion-color-tertiary-rgb: 217, 217, 217;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #c3c3c3;
  --ion-color-tertiary-tint: #dedede;
  --ion-color-tertiary-border: #c3c3c3;

  --ion-color-primary-old: #ed5958;
  --ion-color-primary-old-rgb: 237, 89, 88;
  --ion-color-primary-old-contrast: #ffffff;
  --ion-color-primary-old-contrast-rgb: 255, 255, 255;
  --ion-color-primary-old-shade: #e93b3a;
  --ion-color-primary-old-tint: #ef7171;
  --ion-color-primary-old-border: #e93b3a;

  --ion-color-secondary-old: #36454f;
  --ion-color-secondary-old-rgb: 54, 69, 79;
  --ion-color-secondary-old-contrast: #ffffff;
  --ion-color-secondary-old-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-old-shade: #303e47;
  --ion-color-secondary-old-tint: #4c6270;
  --ion-color-secondary-old-border: #303e47;

  --ion-color-background: #e6f6e7;
  --ion-color-background-contrast: #000000;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  --ion-color-success-border: #28ba62;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  --ion-color-warning-border: #e0ac08;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  --ion-color-danger-border: #cf3c4f;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  --ion-color-dark-border: #1e2023;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-medium-border: #808289;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-light-border: #d7d8da;
}
