
.banner-container {
  margin: 12px 0;
  padding: 12px 0;
}

.banner-wrapper {
  display: flex;
  padding: 18px 0;
  background-color: var(--ion-color-primary);
}

.products-top {
  overflow-x: auto;
  white-space: nowrap;
}

.products-top .home-product {
  display: inline-block;
}

.products-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 12px;
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);
  font-size: 16px;
  font-weight: 700;
}

.products-title ion-select {
  --padding-top: 0;
  --padding-bottom: 0;
  background-color: transparent;
  border: 0;
  font-size: 12px;
}

.products-title ion-select option {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-product {
  width: 164px;
  margin: 4px 0;
  margin-left: calc((100vw - 328px) / 4);
  margin-right: auto;
  background-color: var(--ion-color-primary);
  text-decoration: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.home-product img {
  width: 100%;
  max-height: 120px;
}

.home-product-name,
.home-product-price {
  font-size: 12px;
  font-weight: 700;
}

.home-product-price {
  color: #ed5958;
}
