
.transaction {
  font-size: 12px;
}

.transaction-details {
  display: flex;
  flex-direction: column;
}

.transaction-img {
  width: 147px;
}

.picked-up,
.delivered {
  align-self: flex-end;
  padding: 8px;
  font-size: 12px;
  font-weight: 700;
}

.picked-up { background-color: #fff; }

.delivered {
  background-color: var(--ion-color-secondary);
  color: #fff;
}
