
.transaction {
  background-color: #e6f6e7 !important;
  font-size: 12px;
}

.transaction-product-title {
  font-size: 20px;
}

.transaction-product-description {
  font-size: 16px;
}

.btn-received {
  background-color: #ed5958;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
  font-weight: 700;
}

.btn-received:disabled {
  background-color: #aea8A8;
}

.btn-received-error {
  background-color: #aea8A8;
  color: #d62035;
}

.no-order-icon {
  position: fixed;
  top: calc(100vh / 2);
  left: calc(100vw / 2);
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 190px;
}
