
.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}

.user-container img {
  margin-bottom: 4px;
  border-radius: 50%;
}

.user-container h5 {
  font-weight: bold;
}

.user-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
  padding: 48px 8px;
  background-color: var(--ion-color-primary);
}

.user-menu a {
  width: 100%;
  text-decoration: none;
}

.user-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.user-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-settings a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 20px;
  background-color: var(--ion-color-secondary);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
