
.dashboard-title-bar {
  font-family: 'Inter';
  background-color: var(--ion-color-secondary-old);
  color: var(--ion-color-secondary-contrast);
  font-size: 18px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboard-title-bar ion-select {
  --padding-top: 0;
  --padding-bottom: 0;
  background-color: transparent;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.dashboard-name {
  font-family: 'Inter';
  font-weight: 100;
  font-style: italic;
  font-size: 25px;
}

.dashboard-balance {
  color: var(--ion-color-primary-old);
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 700;
}

.dashboard-buttons {
  width: 75%;
}

.dashboard-buttons a {
  font-family: 'Inter';
}

.top-product {
  width: 33.33%;
}

.top-product img {
  border-radius: 50%;
}

.tooltip-content {
  display: none;
  position: absolute;
  right: 8px;
  margin-top: 5px;
  min-width: 150px;
  padding: 4px 16px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 20px #aaa;
}

.tooltip-content::before {
  content: "";
  position: absolute;
  top: calc(-50% + 25px);
  right: 12.5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.tooltip-content.active {
  display: block;
}
